core.*
tmp*
/test/
*.out*
out
/examples/bench/
*.chk
*.pchk
/phf/
.vscode/
__pycache__/
*.pyc
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
*workspace
Untitled*
.ipynb_checkpoints/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
#*.out
*.app
